script(type="text/javascript", src="/libs/jquery/dist/jquery.js")
script(type="text/javascript", src="/libs/bootstrap/js/bootstrap.js")
script(type="text/javascript", src="/libs/angular/angular.js")
script(type="text/javascript", src="/libs/toastr/toastr.js")
script(type="text/javascript", src="/libs/angular-animate/angular-animate.js")
script(type="text/javascript", src="/libs/angular-resource/angular-resource.js")
script(type="text/javascript", src="/libs/angular-ui-router/release/angular-ui-router.js")
script(type="text/javascript", src="/libs/angularjs-toaster/toaster.js")
script(type="text/javascript", src="/app/app.js")
script(type="text/javascript", src="/app/main/fegMainCtrl.js")
script(type="text/javascript", src="/app/account/fegNavBarLoginCtrl.js")
script(type="text/javascript", src="/app/account/fegIdentity.js")
//script(type="text/javascript", src="/app/common/fegNotifier.js")
script(type="text/javascript", src="/app/account/fegAuth.js")
script(type="text/javascript", src="/app/account/fegUser.js")
script(type="text/javascript", src="/app/account/fegSignupCtrl.js")
script(type="text/javascript", src="/app/admin/fegUserListCtrl.js")