.panel.panel-primary
    .panel-heading.text-center New Articles
    .panel-body
        .row(ng-repeat = "article in articles | orderBy: 'added':true")
            .col-md-3 {{article.added | date:'MMM d'}}
            .col-md-9 {{article.title}}